body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.control-wrap {
  width: 600px;
}
.control-wrap .text-block {
  text-align: left;
  margin-left: 5px;
}
.home-page-layout-header, .home-page-layout-header * {
  height: 50px !important;
  background: #fff;
}
.home-page-layout-header {
  padding: 0;
  line-height: 50;
}
.home-page-layout-header .ant-layout-sider {
  background: #fff;
  display: block;
  max-height: 50px;
}
.home-page-layout-header .ant-layout-sider .ant-menu {
  flex-direction: row-reverse;
}
.home-page-layout-header .ant-layout-sider .ant-menu .ant-menu-title-content {
  display: flex;
  align-items: center;
}
.users-table .group-wrap .group-data {
  display: flex;
  background: #e4e4e4;
  justify-content: space-between;
  line-height: 32px;
}
.users-table .group-wrap .group-data .group-name {
  background: #e4e4e4;
  width: 20%;
}
.users-table .group-wrap .group-data .group-actions {
  background: none;
  display: flex;
  justify-content: end;
}
.users-table .group-wrap .group-users .user-wrap {
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  line-height: 16px;
}
.users-table .group-wrap .group-users .user-wrap .user-name {
  width: 15%;
  text-align: left;
  padding: 2px 10px;
  border-right: 1px solid #acacac;
  display: flex;
  align-items: center;
}
.users-table .group-wrap .group-users .user-wrap .user-result-points {
  width: 5%;
  border-right: 1px solid #acacac;
  display: flex;
  align-items: center;
  justify-content: center;
}
.users-table .group-wrap .group-users .user-wrap .user-result-chart {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-right: 1px solid #acacac;
}
.users-table .group-wrap .group-users .user-wrap .user-actions {
  width: 20%;
  padding: 0 10px;
  border-left: 1px solid #acacac;
  display: flex;
  align-items: center;
  justify-content: center;
}
.users-table .group-wrap .group-users .user-wrap:nth-child(even) {
  background: #f5f5f5;
}
.users-table .header-wrap {
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  line-height: 16px;
}
.users-table .header-wrap .name {
  width: 15%;
  text-align: left;
  padding: 2px 10px;
  border-right: 1px solid #acacac;
  display: flex;
  align-items: center;
  justify-content: center;
}
.users-table .header-wrap .result-points {
  width: 5%;
  border-right: 1px solid #acacac;
  display: flex;
  align-items: center;
  justify-content: center;
}
.users-table .header-wrap .result-chart {
  width: 60%;
  border-right: 1px solid #acacac;
  display: flex;
  align-items: center;
  justify-content: center;
}
.users-table .header-wrap .actions {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inputs-table tr:last-child {
  background: #defddd;
}
.inputs-table td {
  width: 25px;
  height: 25px;
  border: 1px solid #e4e4e4;
  text-align: center;
}
.user-page-wrap {
  overflow: auto;
}
.user-page-wrap .group-wrap .group-users .user-wrap .user-name {
  width: 25%;
}
.user-page-wrap .group-wrap .group-users .user-wrap .user-result-points {
  width: 10%;
}
.user-page-wrap .group-wrap .group-users .user-wrap .user-result-chart {
  width: 65%;
}
.user-page-wrap .header-wrap .name {
  width: 25%;
}
.user-page-wrap .header-wrap .result-points {
  width: 10%;
}
.user-page-wrap .header-wrap .result-chart {
  width: 65%;
}
.user-page-wrap .user-inputs-table {
  display: flex;
}
.user-page-wrap .user-inputs-table .table-cell {
  width: 50px;
}
.user-page-wrap .user-inputs-table .table-cell .ant-input-number-handler-wrap {
  width: 15px;
}
.user-page-wrap .user-inputs-table .table-cell .ant-input-number-handler-wrap .ant-input-number-handler-up-inner, .user-page-wrap .user-inputs-table .table-cell .ant-input-number-handler-wrap .ant-input-number-handler-down-inner {
  right: 2px;
}
.user-page-wrap .results-row, .user-page-wrap .user-inputs-table {
  display: flex;
}
.user-page-wrap .results-row .table-cell, .user-page-wrap .user-inputs-table .table-cell {
  width: 50px;
  height: 24px;
  border: 1px solid #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.result-with-chart-block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px dashed #acacac;
  margin-bottom: 15px;
  padding-bottom: 10px;
}
.chart-modal .anticon.anticon-info-circle {
  display: none;
}
.pes.grouped{
  flex-direction: row;
}
.pes.grouped .pes-block .pes-items-wrap .pes-item {
    display: flex;
}
.pes.grouped .pes-block .pes-items-wrap {
    flex-direction: column;
}
.pes.grouped .pes-block {
    flex-direction: column-reverse;
}
.pes.grouped .pes-block .pes-items-wrap .pes-item .pes-label {
    display: flex;
    flex-direction: row;
}
.pes.grouped .pes-block .pes-items-wrap .pes-item-wrap.double {
    flex-direction: row;
}
.pes {
  display: flex;
  overflow: auto;
  flex-direction: column;
}
.pes .pes-block {
  margin: 2px;
  display: flex;
  align-items: center;
}
.pes .pes-block .pes-items-wrap {
  display: flex;
}
.pes .pes-block .pes-items-wrap .pes-item-wrap.double {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.pes .pes-block .pes-items-wrap .pes-item.checked {
  background: #6eaf4c;
}
.pes .pes-block .pes-items-wrap .pes-item.checked.double {
  background: #f44336;
}
.pes .pes-block .pes-items-wrap .pes-item {
  border: 1px solid #acacac;
}
.pes .pes-block .pes-items-wrap .pes-item .pes-label {
  margin: 0 5px;
}
.pes .pes-block .pes-items-wrap .pes-item .pes-number-item {
  width: 5px;
  height: 5px;
  margin: 1px;
}
.pes .pes-block .pes-items-wrap .pes-item .pes-number-item.right {
  background: #555;
}
.pes .pes-block .pes-items-wrap .pes-item .pes-number-item.left {
  background: #e4e4e4;
}
.pes .pes-block .pes-items-wrap .pes-number-quantity {
  background: #fff;
  border: none;
  height: 9px;
  font-size: 9px;
  line-height: 9px;
  border-left: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
}
