body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.control-wrap {
  width: 510px;
  .text-block {
    text-align: left;
    margin-left: 5px;
  }
}

.home-page-layout-header,.home-page-layout-header *{
  height: 50px!important;
  background: #fff;
}
.home-page-layout-header{
  padding:0;
  line-height:50;

  .ant-layout-sider{
    background: #fff;
    display: block;
    max-height: 50px;

    .ant-menu{
      flex-direction: row-reverse;

      .ant-menu-title-content{
        display: flex;
        align-items: center;
      }
    }
  }
}

.users-table {

  .group-wrap {

    .group-data {
      display: flex;
      background: #e4e4e4;
      justify-content: space-between;
      line-height: 32px;

      .group-name {
        background: #e4e4e4;
        width: 20%;
      }
      .group-actions {
        background: none;
        display: flex;
        justify-content: end;
      }
    }
    .group-users { 

      .user-wrap {
        padding: 5px 0;
        display: flex;
        justify-content: space-between;
        line-height: 16px;

        .user-name {
          width: 15%;
          text-align: left;
          padding: 2px 10px;
          border-right: 1px solid #acacac;
          display: flex;
          align-items: center;
        }
        .user-result-points {
          width: 5%;
          border-right: 1px solid #acacac;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .user-result-chart {
          width: 60%;
          display: flex;
          justify-content: space-around;
          align-items: center;   
          border-right: 1px solid #acacac;   
        }
        .user-actions {
          width: 20%;
          padding: 0 10px;
          border-left: 1px solid #acacac;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .user-wrap:nth-child(even) {
        background: #f5f5f5;
      }
    }
  }
  .header-wrap{
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    line-height: 16px;

    .name {
      width: 15%;
      text-align: left;
      padding: 2px 10px;
      border-right: 1px solid #acacac;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .result-points {
      width: 5%;
      border-right: 1px solid #acacac;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .result-chart {
      width: 60%;
      border-right: 1px solid #acacac;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .actions {
      width: 20%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.inputs-table {
  tr:last-child {
    background: #defddd;
  }
  td {
    width: 25px;
    height: 25px;
    border: 1px solid #e4e4e4;
    text-align: center;
  }
}

.user-page-wrap {
  display: flex;
  justify-content: center;

  .group-wrap{
    .group-users{
      .user-wrap{
        .user-name {
          width: 25%;
        }
        .user-result-points {
          width: 10%;
        }
        .user-result-chart {
          width: 65%;
        }
      }
    }
  }
  .header-wrap{
    .name {
      width: 25%;
    }
    .result-points {
      width: 10%;
    }
    .result-chart {
      width: 65%;
    }
  }

  .user-inputs-table {
    display: flex;

    .table-cell{
      width:50px;

      .ant-input-number-handler-wrap {
        width: 15px;

        .ant-input-number-handler-up-inner, .ant-input-number-handler-down-inner{
          right:2px;
        }
      }
    }
  }
  .results-row, .user-inputs-table{
    display: flex;

    .table-cell{
      width:50px;
      height:24px;
      border: 1px solid #d9d9d9;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.result-with-chart-block{
  display:flex;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px dashed #acacac;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.chart-modal .anticon.anticon-info-circle{
  display: none;
}

.pes {
  display: flex;

  .pes-block {
    margin: 0 4px;

    .pes-items-wrap {
      display: flex;

    .pes-item {
      padding: 0 2px;
      border: 1px solid #acacac;
      // border-collapse: collapse;
    }
  }
  }
}

