body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.control-wrap {
  width: 510px;
  .text-block {
    text-align: left;
    margin-left: 5px;
  }
}

.home-page-layout-header,.home-page-layout-header *{
  height: 50px!important;
  background: #fff;
}
.home-page-layout-header{
  padding:0;
  line-height:50;

  .ant-menu{
    flex-direction: row-reverse;

    .ant-menu-title-content{
      display: flex;
      align-items: center;
    }
  }
}

.users-table {

  .group-wrap {

    .group-data {
      display: flex;
      background: #e4e4e4;

      .group-name {
        background: #e4e4e4;
        width: 50%;
      }
      .group-actions {
        width: 50%;
        background: none;
        display: flex;
        justify-content: end;
      }
    }
    .group-users { 

      .user-wrap {
        padding: 5px 0;
        display: flex;

        .user-name {
          width: 85%;
          text-align: left;
          padding: 2px 10px;
        }
        .user-actions {
          width: 15%;
        }
      }
      .user-wrap:nth-child(even) {
        background: #f5f5f5;
      }
    }
  }
}

.inputs-table {
  tr:last-child {
    background: #defddd;
  }
  td {
    width: 25px;
    height: 25px;
    border: 1px solid #e4e4e4;
    text-align: center;
  }
}

.user-page-wrap {
  display: flex;
  justify-content: center;

  .user-inputs-table {
    display: flex;

    .table-cell{
      width:50px;

      .ant-input-number-handler-wrap {
        width: 15px;

        .ant-input-number-handler-up-inner, .ant-input-number-handler-down-inner{
          right:2px;
        }
      }
    }
  }
  .results-row{
    display: flex;

    .table-cell{
      width:50px;
      height:32px;
      border: 1px solid #d9d9d9;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}