body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.control-wrap {
  width: 400px;
}
.board-table{
  tr {
    display: flex;
    justify-content: center;
    
    td{
      width: 20px;
      height: 20px;
      padding: 0;
      align-items: center;
      display: flex;
      justify-content: center;
      position: relative;

      .cell-block {
        height: 20px;
      }
      
      hr.right {
        transform: rotate(45deg);
        position: absolute;
        width: 10px;
        top: 14px;
        left: 14px;
        background: #000;
      }
      .board-table tr td hr.left {
        transform: rotate(135deg);
        position: absolute;
        width: 12px;
        height: 2px;
        top: 12px;
        right: 14px;
        background: #000;
      }
    }
  } 
}