body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.control-wrap {
  width: 400px;
}
.board-table{
  tr {
    display: flex;
    justify-content: center;
    
    td{
      width: 15px;
      height: 15px;
      padding: 0;
      align-items: center;
      display: flex;
      justify-content: center;
      position: relative;

      .cell-block {
        height: 15px;
        width: 15px;
        border: 1px solid #000; 
        border-radius: 10px;
        background: #000;
      }
      .cell-block.red{
        background: #f00;
        border: 1px solid #f00; 
      }
      
      hr.right {
        transform: rotate(45deg);
        position: absolute;
        width: 5px;
        height: 1px;
        top: 7px;
        left: 12px;
        background: #acacac;
      }
      hr.left {
        transform: rotate(135deg);
        position: absolute;
        width: 5px;
        height: 1px;
        top: 7px;
        right: 12px;
        background: #acacac;
      }
    }
  } 
}