body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.control-wrap {
  width: 400px;
}
.board-table{
  tr {
    display: flex;
    justify-content: center;
    
    td{
      width: 15px;
      height: 15px;
      padding: 0;
      align-items: center;
      display: flex;
      justify-content: center;
      position: relative;

      .cell-block {
        height: 15px;
        width: 15px;
        border: 1px solid #000; 
        border-radius: 10px;
        background: #000;
      }
      .cell-block.red{
        background: #f00;
        border: 1px solid #f00; 
      }
           
      hr.right.red, hr.left.red {
        background: #f00;
      }
      hr.right {
        transform: rotate(45deg);
        position: absolute;
        width: 7px;
        height: 3px;
        top: 7px;
        left: 12px;
        background: #acacac;
        border: 0;
        
      }
      hr.left {
        transform: rotate(135deg);
        position: absolute;
        width: 7px;
        height: 3px;
        top: 7px;
        right: 12px;
        background: #acacac;
        border: 0;
      }
    }
  } 
}

.board-wrap{
  position: relative;

  .board-points{
    display: flex;
    flex-direction: column;

    .board-row{
      display: flex;
      margin: 0 auto;

      .board-cell{
        width: 16px;
        height: 16px;
        margin: 2px;
        background: #000;
        border-radius: 8px;
      
        &.empty{
          background: none;
        }
      }
    }
    
    .board-row:first-child{ 
      .board-cell{
        margin-top: 0;
      }
    }
  }
}
.board-routes{
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;

  .routes-inner{
    height: 100%;
    width: 100%;
    position: relative;

    .routes-table{
      margin: 3px auto;
      border-spacing: 0px;
      padding: 0;

      tr.route-section{
        display: flex;
        justify-content: center;

        td{
          width: 10px;
          height: 10px;
          padding: 0;
          display: flex;
          align-items: center;

          hr{
            height: 2px;
            width: 14px;
            border: none;
            margin: 0;
          }

          hr.left{
            background: #000;
            transform-origin: center;
            transform: rotate(135deg);
          }

          hr.right{
            background: #000;
            transform-origin: center;
            transform: rotate(45deg);
          }
        }
      }
    }
  }
}

.board-routes.double .route-section hr{
  background: #f00;
  z-index: 1;
}

.stack-bar-chart {
  display: flex;
  .chart-inner {
    display: flex;
    flex-direction: row-reverse;
    margin: 5px auto;
    transform: rotate(180deg);
    transform-origin: center;
    height: 160px;

    .bar-item {
      margin: 0 1px;
      width: 28px;

      .bar-line-item {
        width: 28px;
        height: 14px;
        background: #070;
      }
      .bar-item-quantity {
        transform: rotate(180deg);
        transform-origin: center;
      }
    }
  }
}